.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: #fff;
    width: 600px;
    border-radius: 10px;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.text{
    font-size: 50px;
    font-weight: 700;
    color: #215c84;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    width: 100%;
    align-items: center;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 500px;
    height: 80px;
    background:#dfdfdf;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    width: 400px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    color: #692f6f;
    font-size: 20px;
    font-weight: 900;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 30px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background: #898989;
    border-radius: 0px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

.pink{
    border-radius: 50px;
    background: #84217d;
    color: #ffffff;
}

.gray{
    background: transparent;
    color: #555555;
}

.result-login-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: large;
}